.proj--game-title {
    color: black;
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.game-logo {
    transform: scale(0.8);
}

.proj--game-title {
    font-size: 1.3vw;
}

@media (max-width: 1300px) {

}@media (max-width: 1100px) {
   
    .proj--content {
        margin-top: 7%;
        height: 120px;
        overflow: auto;
    }

    .proj--buttons {
        width: 50px;
        margin-left: 5%;
        margin-right: 5%;
        cursor: pointer;
    }

    .proj---embassy-image {
        width: 130px;
    }

    .proj--logo-container {
        top: -25px;
        height: 50px;
    }
    

}


@media (max-width: 800px) {
    .proj--component {
    width: 75%;
    font-size: 2.2vw;
    margin-top: 5%;
    }

    .proj--content {
        margin-top: 7%;
        height: 200px;
        overflow: auto;
    }

    .proj--buttons {
        width: 50px;
        margin-left: 5%;
        margin-right: 5%;
        cursor: pointer;
    }

    .proj---embassy-image {
        width: 170px;
    }

    
    .proj--two-images-embassy {
        justify-content: space-evenly;
        flex-direction: row;
    }
    
.proj--game-title {
    font-size: 2vw;
}

}

@media (max-width: 650px) {
        .proj--content {
            height: 150px;
        }
    
    
        .proj--image {
            width: 150px;
        }

    

}
@media (max-width: 600px) {
    
        .proj--content {
            height: 100px;
        }
    
        .proj--buttons {
            width: 40px;
        }
    
        .proj--image {
            width: 100px;
        }

}

@media (max-width: 500px) {
    
    .proj--content {
        height: 100px;
    }

    .proj--buttons {
        width: 40px;
    }

    .proj--image {
        width: 100px;
    }
    .proj---embassy-image {
        width: 150px;
    }
    .proj--two-images-embassy {
        flex-direction: column;
    }

    
.proj--game-title {
    font-size: 3vw;
}

}